APP_URL=http://localhost:3000
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
AWS_REGION=us-east-1
AWS_LAMBDA_FUNCTION_NAME=efiles-order-processor
AWS_DYNAMO_DB_NAME=kz-pdf-files-db
AWS_ORDER_ID_INDEX_NAME=OrderID-index
